<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3>Contact US</h3>
    <form method="post" action="/contactprocess">
        {% csrf_token %}
        Name: <input type="text" name="txt1"/> <br/>
        Mobile : <input type="text" name="txt2"/><br/>
        Message: <input type="text" name="txt3"/><br/>
        <input type="submit"/>
</body>
</html>